.login-card {
  width: 400px;
  margin: 100px auto;
  text-align: center;
  padding: 20px;
}

.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

button {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google-logo {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}
.button_Twitter {background-color: #89d5ee;} 

.button_google {background-color: #eeeeee;} 