<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="390px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>  
          <div mat-card-avatar class={{card.img}}></div>
          <mat-card-title>
            {{card.title}}
            <button mat-icon-button class="more-button" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
          
          </mat-card-title>
          <mat-card-subtitle>{{card.subtitle}}</mat-card-subtitle>
          
        </mat-card-header>
        <hr style="border: none; border-top: 1px solid black; width: 90%;">
        <mat-card-content class="dashboard-card-content">
          
        
          <div *ngIf="card.title === 'Income'" style="position: relative;">
            <mat-card-content style="display: flex; flex-direction: column; align-items: center;">
              <b><p style="font-size: 18px; margin-bottom: 10px;">Last Few Months</p></b>
              <mat-list role="list" style="width: 100%;">
                <mat-list-item role="listitem">January : 2000 DT</mat-list-item>
                <mat-list-item role="listitem">February : 2500 DT</mat-list-item>
                <mat-list-item role="listitem">March : 3000 DT</mat-list-item>
              </mat-list>
              <b><p style="font-size: 18px; margin-top: 20px;">Current Month : <span style="color: green;">2500 DT</span></p></b>
            </mat-card-content>
            <mat-card-actions style="position: absolute; bottom: 0; right: 0;">
              <button mat-button style="color: white; background-color: blue;">VIEW</button>
            </mat-card-actions>
          </div>
          
       
          <div *ngIf="card.title === 'Expense'" style="position: relative;">
            <mat-card-content style="display: flex; flex-direction: column; align-items: center;">
              <b><p style="font-size: 18px; margin-bottom: 10px;">Last Few Months</p></b>
              <mat-list role="list" style="width: 100%;">
                <mat-list-item role="listitem">January : 2000 DT</mat-list-item>
                <mat-list-item role="listitem">February : 2500 DT</mat-list-item>
                <mat-list-item role="listitem">March : 3000 DT</mat-list-item>
              </mat-list>
              <b><p style="font-size: 18px; margin-top: 20px;">Current Month : <span style="color: red;"> -2500 DT</span></p></b>
            </mat-card-content>
            <mat-card-actions style="position: absolute; bottom: 0; right: 0;">
              <button mat-button style="color: white; background-color: blue;">VIEW</button>
            </mat-card-actions>
          </div>
          

          <div *ngIf="card.title === ''" style="position: relative;">
            <mat-card-content style="display: flex; flex-direction: column; align-items: center;">
              <div>
               
                
              </div>
            </mat-card-content>
           
          </div>


          
       
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
