<div style="padding: 16px;">
    <h2 style="margin-bottom: 10px;">Add transaction</h2>
  
    <form [formGroup]="form">
  
     
        <mat-form-field>
            <mat-select placeholder="Type" formControlName="type">
              <mat-option value="primary">Income</mat-option>
              <mat-option value="accent">Expense</mat-option>
            </mat-select>
          </mat-form-field>
   

        <mat-form-field appearance="fill">
          <mat-label>Category</mat-label>
          <input matInput type="text" name="category" formControlName="category" required>
        </mat-form-field>
  

   
        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <input matInput type="text" name="description" formControlName="description" required>
        </mat-form-field>
     
  
     
        <mat-form-field appearance="fill">
          <mat-label>Amount</mat-label>
          <input matInput type="text" name="amount" formControlName="amount" required>
        </mat-form-field>
     
  
      
        <mat-form-field appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
     
  
      <div>
        <button mat-raised-button color="warn" (click)="close()">Close</button>
        <button mat-raised-button color="primary" (click)="save()">Save</button>
      </div>
  
    </form>
  </div>
  