<h1>Create New Article</h1>
<form [formGroup]="form" (ngSubmit)="onSub()">
    <mat-form-field appearance="fill">
        <input matInput type="text" name="id" placeholder="ID" required formControlName="id">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <input matInput type="text" name="type" placeholder="Type" required formControlName="type">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <input matInput type="text" name="titre" placeholder="titre" required formControlName="titre">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <input matInput type="text" name="date" placeholder="Date" required formControlName="date">
    </mat-form-field>
    <br>
    <button type="submit">Submit</button>
</form>