<h1>Create New Member</h1>
<form [formGroup]="form" (ngSubmit)="onSub()">
    <mat-form-field appearance="fill">
        <input matInput type="text" name="cin" placeholder="CIN" required formControlName="cin">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <input matInput type="text" name="name" placeholder="Name" required formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <input matInput type="text" name="cv" placeholder="CV" required formControlName="cv">
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">
        <input matInput type="text" name="type" placeholder="Type" required formControlName="type">
    </mat-form-field>
    <br>
    <button type="submit">Submit</button>
</form>